

.tema{
	border-right:1px solid black;}

img{
  max-height: 129px;
}

h1{
	font-size:3em;}

.slogan{
	font-size:1.2em;}	

.gg{
	background-color:pink;
	border-top:1px solid black;}	
	
.red{
	border:1px solid red;}	